<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/PenguinLogoNoBG.ico" />
</head>
<body>
    <div class="container">
        <!-- Left Side (Image Box) -->
        <div class="image-wrapper">
            <div class="image-box">
                <img src="/static/images/whitenobg.png" class="logo">
                <button class="back-btn">Back to website →</button>
                <div class="image-content">
                    <h2>Welcome back<br></h2>
                </div>
            </div>
        </div>

        <!-- Right Side (Signup Form) -->
        <div class="signup-form">
            <h1>Login</h1>
            <p class="login-text">Don't have an account? <a href="/">Sign up</a></p>
            
            <form action="/signup" method="post">
            
            <input type="email" placeholder="Email" name="email" class="full-width">
            <input type="password" placeholder="Enter your password" name="password" class="full-width">
            
            <div class="remember-forgot">
                <label class="remember-label">
                    <input type="checkbox" id="remember" name="remember"> Remember me
                </label>
                <a href="/forgotpasswordemail" class="forgot-link">Forgot Password?</a>
            </div>
        
            <button type="submit" class="create-btn">Login</button>
            </form>
            <div class="divider">
                <span></span>
                <p>Or login with</p>
                <span></span>
            </div>

            <!-- Google and Apple Buttons -->
            <div class="input-group">
                <button class="google-btn">Google</button>
                <button class="apple-btn">Apple</button>
            </div>
        </div>
    </div>
</body>
</html>
