<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms & Conditions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/PenguinLogoNoBG.ico" />
</head>
<body id="terms-page"> <!-- Add unique ID here -->
    <div class="terms-banner">
        <div class="terms-logo-container">
            <img src="/static/images/whitenobg.png" class="terms-logo">
        </div>
        <div class="terms-header-buttons">
            <a href="/login" class="terms-header-btn">Log in</a>
            <a href="/signup" class="terms-header-btn">Open Account</a>
        </div>
    </div>

    <div class="terms-content-container">
        <h1 class="terms-title">Client Agreement</h1>
        <div class="terms-text-content">
            <p>Welcome to Penguin! These terms and conditions outline the rules and regulations for the use of our website and services.</p>
            <p>1) You as a customer of our services under this client agreement (referred to as “You”, ”Your” or “Client”)<br>
                and<br>
                2) Penguin Trader Ltd., a licensed investment firm, company number 460758033, having its registered office at Penguin Tower 440 Strand, WC2R 0QS, London, United Kingdom, represented jointly by the manager Jacques Deiches, (referred to as “Penguin Trader”, ”We”, ”Us” or ”Our”)<br>
                together referred to as the “Parties”.<br><br>
                This agreement is entered into on the grounds of the investment firm licence granted to Penguin Trader by the Bulgarian Financial Supervision Commission (Register number RG-04-0246).
            </p>
            <body>
                
            </body>
            </html>
        </div>
    </div>
</body>
</html>
