<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms & Conditions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/PenguinLogoNoBG.ico" />
</head>
<body id="terms-page"> <!-- Add unique ID here -->
    <div class="terms-banner">
        <div class="terms-logo-container">
            <img src="/static/images/whitenobg.png" class="terms-logo">
        </div>
        <div class="terms-header-buttons">
            <a href="/login" class="terms-header-btn">Log in</a>
            <a href="/signup" class="terms-header-btn">Open Account</a>
        </div>
    </div>

    <div class="terms-content-container">
        <h1 class="terms-title">Client Agreement</h1>
        <div class="terms-text-content">
            <p>Welcome to Penguin! These terms and conditions outline the rules and regulations for the use of our website and services.</p>
            <p>1) You as a customer of our services under this client agreement (referred to as “You”, ”Your” or “Client”)<br>
                and<br>
                2) Penguin Trader Ltd., a licensed investment firm, company number 460758033, having its registered office at Penguin Tower 440 Strand, WC2R 0QS, London, United Kingdom, represented jointly by the manager Jacques Deiches, (referred to as “Penguin Trader”, ”We”, ”Us” or ”Our”)<br>
                together referred to as the “Parties”.<br><br>
                This agreement is entered into on the grounds of the investment firm licence granted to Penguin Trader by the Bulgarian Financial Supervision Commission (Register number RG-04-0246).
            </p>
            <body>
                <h2 class="terms-section-heading">1. MAIN TERMS</h2>
                <p>
                    The following terms shall have the meanings set forth below, unless the context clearly indicates otherwise: <br><br>
            
                    “Agreement” means the present Penguin Trader Client Agreement, together with the General Terms and Conditions, the Clients Orders Policy, the Client Categorization Policy, the Terms of Use, the Risk Disclosure Notice, the Privacy Policy and the Terms and Commissions Table of Penguin Trader, as amended from time to time; <br><br>
            
                    “Account” means an account opened with Us in Your name which is used by You to access the Trading Platform (as defined below) and to trade with contract for difference on the price of currency pairs, stocks, indices, futures, cryptocurrencies and commodities. Any entries in that account shall only be made upon the performance of the scope of this Agreement; <br><br>
            
                    “Auto Rollover” is a setting applicable to Futures, where if it is activated the instrument will automatically renew the contract on the expiry date under the same terms as were applicable in the previous contract. The client will be notified of the renewing and will have the option to change the setting at any point; <br><br>
            
                    “Cryptocurrency” means any digital virtual currency used as an underlying instrument on which the contract for difference is based; <br><br>
            
                    “Contract for difference”, or “CFD” if abbreviated, has the meaning specified in article 10.1 of this Agreement; <br><br>
            
                    “Eligible Counterparty” shall mean eligible counterparty as defined in the FSC Rules; <br><br>
            
                    “Financial instrument” means a financial instrument as listed in the Bulgarian Markets in Financial Instruments Act, which enumeration includes, among others, the CFD; <br><br>
            
                    “Free Funds” means all Your funds which have not been blocked as security for the open positions and for the positions to limit losses (Stop Loss orders). The Free Funds can be withdrawn or invested; <br><br>
            
                    “Futures” means а CFD based on an exchange-traded futures contract. Every futures contract expires on a certain expiry date. <br><br>
            
                    “Index” means a CFD based on a stock exchange index and “Indices” shall be construed accordingly; <br><br>
            
                    “Interest Rate Swap” means an interest payment which is either paid or received by You for keeping open positions overnight. <br><br>
            
                    “Long position” means the purchase of a financial instrument by You; <br><br>
            
                    “Market Hours” means the hours of trading on the financial markets as indicated on the website www.trading212.com. During those market hours, You shall have the right to place orders for execution for those financial instruments whose exchanges are open for trading; <br><br>
            
                    “Manifest error” means an obvious error in the quotes of the financial instruments which substantially deviates from the prevailing market price and which has occurred as a result of a system or technical error. <br><br>
            
                    “Minimum Deposit” means the minimum amount of money that should be deposited by You as per our Terms and Commissions Table; <br><br>
            
                    “Minimum Order” means the minimum number of units of each financial instrument for which We give quotes. The minimum number for purchase and sale of financial instruments is indicated on the website www.trading212.com; <br><br>
            
                    “Margin” has the meaning indicated in article 5.1 of this Agreement; <br><br>
            
                    “Order” means an instruction to buy or to sell as placed by You via your Account on the Trading Platform (as defined below); <br><br>
            
                    “Professional Client” shall mean professional client as defined in the FSC Rules; <br><br>
            
                    “Restricted Price Zones” means time zones that We shall not allow You to trade in; <br><br>
            
                    “Retail Client” shall mean retail client as defined in the FSC Rules; <br><br>
            
                    “Scalping” means a type of trading where the opening and closing of a position is executed within five minutes or less; <br><br>
            
                    “Services” means the services we provide for trading CFDs as specified in article 3; <br><br>
            
                    “Short position” means the sale of a financial instrument by You; <br><br>
            
                    “Stock” means a share of a public company, registered for trading on a foreign stock exchange, used as an underlying instrument on which the contract for difference is based. <br><br>
            
                    “Trading Platform” means the electronic trading platform on our Website. <br><br>
            
                    “Website” means the website at www.trading212.com or any such other website operated by Penguin Trader which may be accessed by the Client. <br><br>
                </p>
            
                <h2 class="terms-section-heading">2. SCOPE OF THE AGREEMENT</h2>
                <p>
                    2.1. You hereby assign to Us, and We undertake to receive and execute Orders for transactions with CFDs via the Trading Platform, at the Your risk and expense. <br><br>
            
                    2.2. The General Terms and Conditions, the Clients Orders Policy, the Client Categorization Policy, the Terms of Use, the Risk Disclosure Notice, the Privacy Policy and the Terms and Commissions Table of Penguin Trader available on the Website as amended from time to time are an integral and inseparable part of this Agreement. We shall publish on a visible place on the Website any amendments and supplements to the General Terms and Conditions and the Terms and Commissions Table, as well as information about their date of approval and effective date. The publishing of the General Terms and Conditions shall be done not later than a month before they take effect. The publishing of the other documents forming part of the Agreement shall be done not later than three days before they take effect. <br><br>
            
                    REGULATORY COMPLIANCE <br><br>
            
                    2.3. In compliance with the applicable legislation, We shall classify You as a non-professional (retail) client, so that You shall have the highest level of regulatory protection. Thus, in the event that We are unable to meet our obligations, You shall have the right to seek compensation from the Investors Compensation Fund to which we pay contributions for all our clients, as required by law. <br><br>
            
                    2.4. The Services and products we offer will not be appropriate for everyone. We have therefore identified our target market and we would normally expect our Services to be used by individuals to whom some or all of the following apply: individuals who have the ability to bear 100% loss of all funds invested; individuals who have an acceptable level of knowledge and/or experience to understand the characteristics of CFDs and risks associated with trading on margin; individuals who have a very high-risk tolerance and individuals who intend to use the trading instruments for short-term investment, speculative trading, portfolio diversification or similar. <br><br>
            
                    2.5. All transactions under this Agreement shall be concluded via your Account with Us available on the Trading Platform. <br><br>
            
                    2.6. Each transaction shall be concluded only at Your discretion and order and shall be entirely at Your expense and risk. We shall not provide any advice to You and shall not be liable for Your investment decisions. Trading with CFDs entails a high level of financial risk. You may lose all the money in your Account. <br><br>
            
                    2.7. We shall be obliged to provide You with the information required by law and any other information, when applicable to this Agreement. This information is included in our General Terms and Conditions and in our Clients Orders Policy. <br><br>
                </p>
                <h2 class="terms-section-heading">2.7</h2>
                <p>We shall be obliged to provide You with the information required by law and any other information, when applicable to this Agreement. This information is included in our General Terms and Conditions and in our Clients Orders Policy.</p>
                <br>

                <h2 class="terms-section-heading">3. SERVICES PROVIDED BY TRADING 212</h2>
                <p>The services provided by Us to You in accordance with the scope of this Agreement are to receive and execute Orders for:</p>
                <br>
                <p>- Trading with CFDs on currency pairs;</p>
                <br>
                <p>- Trading with CFDs on Stocks and Indices;</p>
                <br>
                <p>- Trading with CFDs on Futures and commodities;</p>
                <br>
                <p>- Trading with CFDs on Cryptocurrencies.</p>
                <br>
                <p>We shall open an Account in your name in the selected available currency. You shall be able to use your Account to trade once you deposit into your Account at least the amount specified in the Terms and Commissions Table and the account has been confirmed as verified.</p>
                <br>
                <p>You shall make a profit or incur a loss as a result of the concluded transactions. All profits and losses shall be re-calculated immediately into the currency in which the Account is opened.</p>
                <br>
                <p>You declare hereby that You shall place all Orders for transactions in Your own name and at Your own risk and expense.</p>
                <br>
                <p>The Order shall only be deemed placed by You as soon as We confirm its receipt via the Trading Platform.</p>
                <br>
                <p>The Services shall be subject to any limits or restrictions which are contained in this Agreement and which are required by statute, regulation, law or financial market. CFD transactions shall not confer to You any right, voting right, title or interest in any underlying instrument or entitle or oblige you to acquire, receive, hold, vote, deliver, dispose of or participate directly in any corporate action of any underlying instrument.</p>
                <br>

                <h2 class="terms-section-heading">4. PARTIES’ RIGHTS AND OBLIGATIONS. LIABILITY</h2>
                <p>You shall have the right to receive quotes and place Orders on the Trading Platform during the Market Hours.</p>
                <br>
                <p>You shall have the right to receive confirmations for the executed Orders as well as statements of Your Account balance.</p>
                <br>
                <p>We shall provide the Services using reasonable care and skill. You acknowledge that we shall not provide You with any advice on the merits or suitability of you entering into this Agreement or any Order. We shall not provide You with any investment advice and we shall not be liable for your investment decisions. We may provide You with general information on charts, current information on the status of an instrument or a market where the instrument is traded, calendar, news, analysis, training materials (including video training), market sentiment, technical indicators etc. via the Trading Platform. You are hereby expressly informed that any such information is neither advice, nor a recommendation to make transactions.</p>
                <br>
                <p>We shall have the right to modify at our sole discretion the Margin requirements, Interest Rate Swaps, commissions, minimum and maximum trading amounts, Market Hours, minimum and maximum number of units of each Financial instrument etc.</p>
                <br>
                <p>We shall have the right to introduce new Financial instruments and Market Hours for trading at the Trading Platform and to suspend and/ or remove from the Trading Platform any Financial instrument and Market Hours at our sole discretion.</p>
                <br>
                <p>We shall provide the Services to You with due care and skill but We shall not guarantee the performance or profitability of Your investments. We shall not be liable for any losses of income, revenue or profit that result from Your trading activity on the Trading Platform.</p>
                <br>
                <p>You shall monitor your open positions and shall bear the risk of suffering losses from your trading activity. We provide retail CFD clients with negative balance protection on their accounts, but professional clients and eligible counterparties cannot use it. Unless you have been classified as a Retail client, we reserve the right to claim back negative balance on your account at any time while this agreement is in effect. You acknowledge that as an execution-only client to whom we give no advice, the onus is always on You to establish whether a transaction is suitable for You and You rely solely on your own judgement in deciding whether to enter or refrain from entering a transaction or in deciding how to avoid a loss or secure a profit.</p>
                <br>
                <p>We shall provide You on a daily basis with a statement and a confirmation of Your transactions, as well as an Account balance and a record of all transactions executed on the Trading Platform from your Account with the content and terms set out in the applicable legislation. You shall be obliged to check, on a daily basis, the electronic statements received, and to notify Us in case of any discrepancy.</p>
                <br>
                <p>All transactions under this Agreement that refer to instruments traded on a stock exchange or another regulated market shall be carried out according to the regulations of the relevant market. We shall not be liable for any loss incurred by the Client as a result from changes to the trading terms of the relevant stock exchange or currency market.</p>
                <br>
                <p>We shall not accept Orders when:</p>
                <br>
                <p>- The relevant market is closed for trading;</p>
                <br>
                <p>- You do not have enough money in the Account to guarantee the transaction;</p>
                <br>
                <p>- There are force majeure events or technical problems which impede the execution of Orders;</p>
                <br>

                <h2 class="terms-section-heading">4.9 TERMINATION OF SERVICES</h2>
                <p>We may terminate all or any part of the Services provided on the Trading Platform without prior notice in cases where:</p>
                <br>
                <p>- We find that there are force majeure events;</p>
                <br>
                <p>- We suspect that You may be engaged in money laundering, credit card fraud, funding terrorism and/or any relevant criminal conduct;</p>
                <br>
                <p>- We suspect that You have malicious attitude towards Us or there is evidence of such attitude;</p>
                <br>
                <p>- We suspect that You are using/have previously used front running practices and/ or have acquired and misused inside information;</p>
                <br>
                <p>In such cases, We shall have the right to refuse to execute your Orders or instructions and to make void all of Your trading transactions, even if they have already been confirmed by Us, without stating any reasons for such decision. In this case, We shall have the right to not pay the amounts received in your Account as a result of such transactions. In the above cases, We shall not be held liable for any damages incurred by You.</p>
                <br>

                <h2 class="terms-section-heading">4.10</h2>
                <p>You understand that sometimes there may be technical issues or disruptions with the Trading Platform. In such cases You should immediately contact Us and request information about the prices of the Financial instruments.</p>
                <br>

                <h2 class="terms-section-heading">4.11</h2>
                <p>You agree that all pending Orders (‘Stop’ Orders) may be executed at a price different from the specified one in case of sharp fluctuations in the price of the instrument.</p>
                <br>

                <h2 class="terms-section-heading">4.12 MANIFEST ERROR</h2>
                <p>By signing the Agreement, You are informed that а Manifest error may occur in the prices of certain Financial instruments to which You have access via the Trading Platform. Such Manifest error may result from technical errors or delays in obtaining the necessary information, which could make the quote incorrect. Any declaration by us of Manifest error will be made in good faith and based on a reasonable assessment of all relevant information.</p>
                <br>
                <p>If Manifest error in a specific quote is found, We shall be entitled at our discretion to cancel the Order and the relevant consequences – in terms of either a profit or a loss for You – immediately upon detection of such Manifest error. We shall not be liable for any damages or consequential loss incurred by You as a result of such cancellation.</p>
                <br>

                <h2 class="terms-section-heading">4.13 STOPPING OF QUOTES</h2>
                <p>By signing this Agreement, You acknowledge that We may stop providing quotes at certain times if there are temporary technical difficulties or circumstances that make it impossible to carry out transactions on a given market and hence to set quotes. In this case, We shall not be liable for any damages incurred by You.</p>
                <br>

                <h2 class="terms-section-heading">4.14 CLIENT DECLARATION</h2>
                <p>By signing this Agreement, You declare that:</p>
                <br>
                <p>- You are familiar with and accept the entire Agreement, including the General Terms and Conditions, Clients Orders Policy, Client Categorization Policy and the Terms of Use which are available on the Website;</p>
                <br>
                <p>- You are familiar with and accept the Terms and Commissions Table of Penguin Trader, which includes all costs of executing Orders;</p>
                <br>
                <p>- You shall provide to Us all personal data necessary for the conclusion of this Agreement and shall inform Us immediately in case of any change to such personal data.</p>
                <br>

                <h2 class="terms-section-heading">4.15 CLIENT REPRESENTATIONS AND WARRANTIES</h2>
                <p>You hereby warrant, represent and undertake that:</p>
                <br>
                <p>- All information that You supply to Us is complete, true, accurate and not misleading in any material aspect;</p>
                <br>
                <p>- You have the capacity and You are entering into this Agreement on your own name and behalf and not as another party's agent or representative;</p>
                <br>
                <p>- You are not under any legal disability and You are not subject to any law or regulation which prevents your performance of this Agreement;</p>
                <br>
                <p>- You are in compliance with all laws and regulations to which You are subject, including but not limited to local financial regulations and local tax laws;</p>
                <h2 class="terms-section-heading">5. MARGIN. SETTLEMENTS BETWEEN THE PARTIES</h2>

                <h3 class="terms-subheading">5.1</h3>
                <p>For each open position We shall block a part of the funds deposited by You as collateral. These funds are known as “Margin” and cannot be withdrawn by You. Detailed information on the current Margin rates is available on the Website.</p>
                <br>

                <h3 class="terms-subheading">5.2</h3>
                <p>By signing this Agreement, You agree to maintain at all times an appropriate Margin level and You are required to independently monitor the compliance of the Margin and recover it immediately when it drops below the required minimum.</p>
                <br>

                <h3 class="terms-subheading">5.3</h3>
                <p>You unconditionally agree that in case the Account balance falls below the minimum required Margin, We are authorized to close partially and/or fully Your open positions at the current market prices without any prior notice, in order to prevent You from incurring losses that exceed the Free Funds available in your Account.</p>
                <br>

                <h3 class="terms-subheading">5.4</h3>
                <p>You hereby agree with the price levels at which the positions will be closed in case of lack of sufficient Margin. You shall be immediately notified about the closed position via the Trading Platform which provides access to your Account, as well as by an automatically generated message sent to Your email.</p>
                <br>

                <h3 class="terms-subheading">5.5</h3>
                <p>In case You fail to provide the required Margin (if the total of your Account balance falls below the minimum Margin required for the respective instrument), We shall inform You about the shortage via the Trading Platform and by means of an automatically generated email sent to You, when possible.</p>
                <br>

                <h3 class="terms-subheading">5.6</h3>
                <p>The measures under article 5.5 shall apply when the shortage exceeds 50% (fifty percent) of the Margin required to keep and maintain the open positions.</p>
                <br>

                <h3 class="terms-subheading">5.7</h3>
                <p>The above described procedure in articles 5.5 and 5.6 in case of Margin shortage are automatically set in the Trading Platform and are activated with no human intervention, so there cannot be any subjective attitude or deception by Our employees.</p>
                <br>

                <h3 class="terms-subheading">5.8</h3>
                <p>The procedure under articles 5.5 and 5.6 will be executed to protect You from the accumulation of large losses that would be expressed in a negative account balance, but that protection is not available to professional clients and eligible counterparties. Thus, You shall be prevented from incurring any additional liabilities which exceed the funds in the Account.</p>
                <br>

                <h3 class="terms-subheading">5.9</h3>
                <p>You shall have the right to withdraw money from the Account up to the amount of the Free Funds. No payments to third parties from your Account shall be allowed. Bank deposits from third parties to your Account shall not be accepted either. You shall have the right to transfer money to Our bank accounts only after signing the Agreement with Us and after receiving a username and password to access the Trading Platform.</p>
                <br>

                <h3 class="terms-subheading">5.10</h3>
                <p>We reserve the right to implement a minimum withdrawal amount limit to your Account without prior notice and at our sole discretion. The minimum withdrawal amount is published on the Trading Conditions page available at our Website.</p>
                <br>

                <h2 class="terms-section-heading">6. INSTRUCTIONS AND COMMUNICATIONS BETWEEN THE PARTIES</h2>

                <h3 class="terms-subheading">6.1</h3>
                <p>You shall place Orders via the Trading Platform, after identifying yourself with Your username and password. The Parties hereby agree that they shall communicate by emails and written messages in the Trading Platform.</p>
                <br>

                <h3 class="terms-subheading">6.2</h3>
                <p>We shall not be liable for any losses incurred by You due to an inaccurately placed Order, interruption of the connection or failure of the means of communication.</p>
                <br>

                <h2 class="terms-section-heading">7. MAKING DEALS. TYPES OF ORDERS</h2>

                <h3 class="terms-subheading">7.1</h3>
                <p>The transactions between the Parties shall be concluded by using the means of communication specified in article 6.</p>
                <br>

                <h3 class="terms-subheading">7.2</h3>
                <p>For each transaction, You shall receive a quote from Us via the Trading Platform. The quote shall be valid until replaced by a new one which shall happen automatically on the Trading Platform.</p>
                <br>

                <h3 class="terms-subheading">7.3</h3>
                <p>Neither of the Parties may cancel the execution of an Order if the Order is executed at a valid quote price and You have confirmed that You want to “buy” or “sell” the desired quantity of the relevant instrument, except as specified in the present Agreement.</p>
                <br>

                <h3 class="terms-subheading">7.4</h3>
                <p>We shall quote two prices for each instrument via the Trading Platform – “BUY” price and “SELL” price. You shall buy at the “BUY” price and shall sell at the “SELL” price.</p>
                <br>

                <h3 class="terms-subheading">7.5</h3>
                <p>You may place the following types of orders:</p>
                <br>

                <h3 class="terms-subheading">7.5.1 “Market Order”</h3>
                <p>This Order is executed immediately at the current market price. If there is a change in the market price before the execution, then: 
                <br>
                a/ Your Order will be automatically executed at a better price if the price change is in Your favour; 
                <br>
                b/ You will receive a requote with the new price if the price change is against You.
                </p>
                <br>

                <h3 class="terms-subheading">7.5.2 “Associated Order”</h3>
                <p>This Order will be executed if the market price reaches the price specified in the Order. This Order is associated with an open position. If the open position is closed, then the Associated Order will be automatically cancelled. During Market Hours the Associated Order will be executed at the specified price. The Associated Order may be executed at a different price when the market opens. There are 3 types of Associated Orders: </p>
                <br>
                <p>(1) “Stop Loss Order” – it is used to close an open position at a certain loss. The Trading Platform may show you the target loss in the currency of your Account. This information is indicative and not guaranteed.</p>
                <br>
                <p>(2) “Take Profit Order” – it is used to close an open position at a certain profit. The Trading Platform may show You the target profit in the currency of your Account. This information is indicative and not guaranteed.</p>
                <br>
                <p>(3) “Trailing Stop Order” – it is a Stop Loss Order where the specified price follows the market price at a certain distance.</p>
                <br>

                <h3 class="terms-subheading">7.5.3 “Entry Order”</h3>
                <p>This Order will be executed if the market price reaches the price specified in the Order. The Entry Order is used to open a new position or to modify an existing open position. The execution price of the Entry Order is not guaranteed. This Order may be executed at a different price, especially when the market is volatile or not liquid. There are three types of Entry Orders:</p>
                <br>
                <p>(1) “Limit/Stop” – this is either a “Limit” order or a “Stop” order. The Trading Platform will automatically set the type of the Order according to the current market price and the specified price.</p>
                <br>
                <p>(2) “OCO” or “One cancels the other” – it is a combination of two Entry Orders where the execution of one of them automatically cancels the other.</p>
                <br>
                <p>(3) “If/Then” – it is a combination of one Entry Order, called “If Order”, and one or two Associated Orders, called “Then Orders”. The execution of the “If Order” activates the “Then Orders”. In case there is a price gap and the execution price of the “If Order” will be outside the price boundaries of the “Then Orders”, then the “If/Then” order will be cancelled by the Trading Platform.</p>
                <br>

                <h2 class="terms-section-heading">8. CLIENT’S EXPENSES – INTERESTS, FEES, COMMISSIONS, PAYMENT</h2>

                <h3 class="terms-subheading">8.1</h3>
                <p>In consideration for the provision of the Services under this Agreement, You shall pay to Us the payment, fees or commissions, described in detail in our Terms and Commissions Table.</p>
                <br>

                <h3 class="terms-subheading">8.2</h3>
                <p>We shall not pay any interest on your Margin (other than the Interest Rate Swaps as described in article 8.3).</p>
                <br>

                <h3 class="terms-subheading">8.3</h3>
                <p>For each day when You have an open position You shall pay or receive an Interest Rate Swap as specified in our Terms and Commissions Table.</p>
                <br>

                <h3 class="terms-subheading">8.4</h3>
                <p>The amounts or percentage set in the Terms and Commissions Table may be amended from time to time, and the change shall take effect after being announced on the Website.</p>
                <br>

                <h3 class="terms-subheading">8.5</h3>
                <p>All fees and expenses payable by You shall be deducted from your Account, and if the Interest Rate Swap is positive, it shall be transferred to your Account. You agree and understand that any other obligation and liability towards us is subject to unilateral set-off from your side going back to the beginning of our contractual relationship.</p>
                <br>

                <h3 class="terms-subheading">8.6</h3>
                <p>We shall have the right but not the obligation to unilaterally terminate the Agreement on our sole discretion and without prior notice in the event that Your account balance is 0 (zero) and You haven’t logged in to your account for a period of six straight months (180 days).</p>
                <h2 class="terms-section-heading">9. REPORTING</h2>
                <p>
                    <strong>9.1.</strong> By signing this Agreement, You declare your consent to receive any information which We are obliged to provide You on a durable medium, by electronic means of communication, including via the Trading Platform and/or via Your email.<br><br>
                    
                    <strong>9.2.</strong> We shall send you a confirmation in respect of each Order executed by You. We shall send such confirmation by electronic means of communication, including via the Trading Platform, or via your email. Every working day we shall provide you with real-time statement and confirmation of your transactions through the Trading Platform that gives you access to your Account balance.<br><br>
                    
                    <strong>9.3.</strong> You must check the statements upon receipt and notify Us in case of any errors or discrepancies. Statements shall be final and shall not be corrected if You fail to notify Us about errors or discrepancies within one business day from the date of the statement’s receipt.
                </p>

                <h2 class="terms-section-heading">10. TRADING WITH CFDs ON CURRENCY PAIRS AND CRYPTOCURRENCIES</h2>
                <p>
                    <strong>10.1.</strong> The Contract for Difference, or CFD, is a derivative Financial instrument created on the basis of a Stock, an Index, a Cryptocurrency, a Futures contract, or another Financial instrument (base instrument). The CFDs are created to enable You to speculate on the price of a Stock, an Index, a Cryptocurrency, a Futures contract or other Financial instruments without physically buying the base instrument.<br><br>
                    
                    <strong>10.2.</strong> The currency pair is the correlation of the currencies of two countries, e.g. EUR/USD. The price of a currency pair shows the exchange rate at which the two currencies are traded. Purchase of a currency pair means the purchase of the first currency of the pair and the sale of the second one. Sale of a currency pair means the sale of the first currency of the pair and the purchase of the second one. Transactions in currency pairs do not include the actual delivery of currency. They are traded for speculation purposes only.<br><br>
                    
                    <strong>10.3.</strong> The minimum order volumes are indicated on the Trading Platform.<br><br>
                    
                    <strong>10.4.</strong> You are aware that the prices of the currency pairs indicated on the Trading Platform may have minimal differences from the prices quoted by other investment firms.<br><br>
                    
                    <strong>10.5.</strong> Profits and losses generated by trading with currency pairs are always in the second currency of the pair. For instance: if the Client trades EUR/USD, the Client will incur profits or losses in US dollars.<br><br>
                    
                    <strong>10.6.</strong> All transactions with currency pairs shall be concluded in accordance with article 7, using the types of communication specified in article 6.<br><br>
                    
                    <strong>10.7.</strong> We may determine Restricted Price Zones in which You cannot place pending Orders. Usually these are prices which are too close to or too far from the market price of an instrument.
                </p>

                <h2 class="terms-section-heading">11. TRADING WITH CFDs ON STOCKS AND INDICES</h2>
                <p>
                    <strong>11.1.</strong> The CFD on Stocks and Indices lets You speculate with the price of the respective stock or index without having to physically buy or sell the instrument. Buying CFDs on a stock does not make You a shareholder in the respective company. You shall not have voting rights or liquidation rights.<br><br>
                    
                    <strong>11.1.1.</strong> When trading with CFDs, the Parties explicitly agree on the following conditions:
                    <ul>
                        <li>None of the Parties shall physically acquire the base instrument purchased by the CFD;</li>
                        <li>None of the Parties shall be obliged to buy, sell or deliver the respective base instrument traded as a CFD.</li>
                    </ul><br>
                    
                    <strong>11.2.</strong> Prices, interests and commissions:
                    <ul>
                        <li><strong>11.2.1.</strong> The price of the CFD changes on a daily basis and is close or equal to the exchange price of the respective base instrument – Stock, Index or Futures.</li>
                        <li><strong>11.2.2.</strong> In order to trade with CFDs, You must have sufficient Free Funds in your Account, as per the effective percentages available on the Website. The requirements of article 5.3 to 5.7 shall apply for all open positions.</li>
                        <li><strong>11.2.3.</strong> When You have opened a long position, You shall pay from your Account an interest for every day your position is open, according to our Terms and Commissions Table.</li>
                        <li><strong>11.2.4.</strong> When You have opened a short position, your Account shall be credited or debited with an interest for each day, according to our Terms and Commissions Table.</li>
                        <li><strong>11.2.5.</strong> Your Account will be charged with the costs for each transaction with CFDs, according to our Terms and Commissions Table.</li>
                        <li><strong>11.2.6.</strong> Payment of dividends on stocks that are the base for a CFD:
                            <ul>
                                <li>In case You have a long position in a CFD, You agree to receive 100% of the net dividend in your Account.</li>
                                <li>In case You have a short position in a CFD, You shall pay from your Account 100% of the gross dividend payable.</li>
                            </ul>
                        </li>
                        <li><strong>11.2.7.</strong> We reserve the right to make cash or other adjustments with respect to the movements in an underlying index resulting from dividends distribution or other corporate events, to the extent such adjustments are considered fair and reasonable. Such events include among others (the list is not exhaustive):
                            <ul>
                                <li>An announcement that a certain stock shall be removed or added to the index;</li>
                                <li>A change in the calculation method of an index;</li>
                                <li>Dividend payment by a stock within an index;</li>
                            </ul>
                        </li>
                    </ul><br>
                    
                    <strong>11.3.</strong> If a company performs a split or reverse split of its stock, You shall be informed and agrees that the quantity of the CFDs in Your position will be increased or reduced.<br><br>
                    
                    <strong>11.4.</strong> If a company bankrupts or is delisted from the respective stock exchange, You shall be informed that Your positions in CFDs of this company will be closed, and You hereby agree with such closing prices.<br><br>
                    
                    <strong>11.5.</strong> In case of major fluctuations in the price of an instrument, We may change the rate of the collateral for this instrument and additional money may be requested from You.<br><br>
                    
                    <strong>11.6.</strong> TRADING WITH CFDs ON FUTURES
                    <ul>
                        <li><strong>11.6.1.</strong> All provisions of articles 11-11.2.6 shall apply, mutatis mutandis, for trading with CFDs on Futures.</li>
                        <li><strong>11.6.2.</strong> Each Futures contract is traded for a specific period of time. The expiration date is included in the name of the Futures, for example Oil-19Jul13.</li>
                        <li><strong>11.6.3.</strong> You agree that Your positions will be automatically closed on the expiration date of the corresponding Futures contract.</li>
                        <li><strong>11.6.4.</strong> You agree with the prices at which Your positions will be closed on the expiration date of the respective Futures contract.</li>
                        <li><strong>11.6.5.</strong> You shall agree that the default setting of the Auto Rollover function will be ‘On’. The client can change that setting at any point.</li>
                    </ul><br>

                    <strong>11.7.</strong> TRADING WITH CFDs ON GOLD AND SILVER
                    <ul>
                        <li><strong>11.7.1.</strong> Trading with CFDs on gold and silver is based on spot prices and does not include the actual delivery of the quantities of the base instrument that have been purchased or sold.</li>
                        <li><strong>11.7.2.</strong> When trading with CFDs on gold and silver, the price of the precious metal shows the proportion in which it is traded against the currencies.</li>
                        <li><strong>11.7.3.</strong> The minimum order volumes are indicated on the Website.</li>
                        <li><strong>11.7.4.</strong> You are aware that the prices of CFDs on gold and silver indicated on the Website may differ from the minimum prices of other investment firms.</li>
                        <li><strong>11.7.5.</strong> Trades in CFDs on gold and silver are concluded as specified in article 7, using the means of communication described in article 6 above.</li>
                        <li><strong>11.7.6.</strong> We may determine Restricted Price Zones in which You cannot place pending Orders. Usually these are prices which are too close to or too far from the market price of an instrument.</li>
                    </ul><br>
                    
                    <strong>12. EFFECTIVE TERM, EFFECT, AMENDMENT AND TERMINATION OF THE AGREEMENT</strong>
                    <ul>
                        <li><strong>12.1.</strong> This Agreement shall become effective on the date of Your activation as a client following the successful completion of Your onboarding as a client and Your acceptance of the terms of the Agreement and all attachments there. This Agreement shall be in force between the Parties until terminated in accordance with article 12.2.</li>
                        <li><strong>12.2.</strong> This Agreement may be terminated as follows:
                            <ul>
                                <li><strong>12.2.1.</strong> By the written consent of both Parties;</li>
                                <li><strong>12.2.2.</strong> By a fourteen-day prior written notice by each of the Parties. In case You have open positions, We will have the right to close them upon sending the termination notice;</li>
                                <li><strong>12.2.3.</strong> Without prior notice in case You commit a breach of any of Your obligations under this Agreement, including but not limited to breach of article 4.15;</li>
                                <li><strong>12.2.4.</strong> Without prior notice in case of articles 4.9 and 8.6;</li>
                                <li><strong>12.2.5.</strong> Without prior notice – should You disagree with the amendments and supplements to the General Terms and Conditions, the Terms and Commissions Table and/or any other document forming part of the Agreement, before its effective date;</li>
                                <li><strong>12.2.6.</strong> We reserve the right to terminate immediately the present Agreement without prior notice in cases where we reasonably suspect market abuse. In such cases, we reserve the right to refuse to execute your orders or instructions and to void all your trading Transactions, even if they have already been confirmed by us. In this case, we shall have the right to not pay the amounts received in your Account as a result of such transactions.</li>
                                <li><strong>12.2.7.</strong> Immediately in the event of Us receiving official proof of death of the Client. In such cases we shall close any open positions of the Client irrespective of their current result and hold any Client’s assets in custody until we are presented with an official evidence of the legal successors of the deceased Client and concrete instructions by an authorised person on how to proceed thereafter.</li>
                                <li><strong>12.2.8.</strong> In the cases under articles 12.2.3 - 12.2.7 we shall not be liable for any damages incurred by you.</li>
                            </ul>
                        </li>
                        <li><strong>12.3.</strong> We shall have the right to amend this Agreement at any time with a written notification sent to You 14 (fourteen) days in advance.</li>
                    </ul><br>

                    <strong>13. RISK WARNINGS</strong>
                    <ul>
                        <li><strong>13.1.</strong> Before trading in CFDs, You must ensure that you fully understand the risks involved. CFDs are complex instruments and come with a high risk of losing money rapidly due to leverage. We are required by law to notify retail clients about the percentage of Retail Clients who have lost money trading CFDs with us during the last 12 months. This disclosure will be made available on our website: www.trading212.com. You should consider whether you understand how CFDs work and whether you can afford to take the high risk of losing your money. By entering into this Agreement, You agree that We may provide You with a description of some of the risks involved in trading CFDs on our Website and in the Risk Disclosure Notice.</li>
                        <li><strong>13.2.</strong> Trading in CFDs may not be suitable for all investors due to its high risk and complex nature. You may lose all or most of your initial payment and may be

            
            </body>
            </html>
        </div>
    </div>
</body>
</html>
